<header>
    <h1>{{title}}</h1>

    <div>
        <a style="margin-right: 1rem;" href="/">Weather</a>
        <a style="margin-right: 1rem;" href="/about">About</a>
        <a style="margin-right: 1rem;" href="/help">Help</a>
    </div>
</header>